# Raw data
raw_data/

# Processed data
processed_data/

# Saved models
saved_models/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
